html {
    padding: 0;
    margin: 0 auto;
    -moz-user-select:none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
    font-family:'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(130deg, rgb(64, 64, 64), black);
    background-repeat: no-repeat;
    color: white;
}

.container {
    margin: auto;
    max-width: 1800px;
    height: auto;
}